/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

header {
    background-color: rgb(49, 43, 43);
    color: white;
}
.header-container{
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
}
h2{
    font-size: 30px;
}
img{
    width: 2rem;
}
.heading-container{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album{
    width: 40%;
}

.heading-container h1{
    text-align: center;
    font-size: 40px;
}
.heading-container p{
    margin: 2rem;
    text-align: center;
    font-size: 20px;
    line-height: 2rem;
    color: grey;
}

.heading-button-container button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.main-button {
    background-color: rgb(78, 118, 248);
    color: white;
}

.secondary-button {
    background-color: grey;
    color: white;
}

.container {
    background-color: #f0f0f0;

}

.cards{
    display: flex;
    justify-content: center;
}

.card{
    width: 100%;
    height: 11em;
    text-align: center;
    padding-top: 4rem;
    color: white;
    background-color: #484f55;;
}

.card-1{
    height: 23rem;
    width: 25%;
    margin: 0 20px;
    font-size: 17px;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.card-1 p{
    font-size: 18px;
    padding: 1.7rem;
    width: 70;

}
.bottom-grid {
    display: flex;
    flex-direction: row;
}

.bottom-grid span {
    padding: 0;
    font-size: 12px;
    padding-right: 2rem;
    padding-top: 0.3rem;
    color: grey;
}

.bottom-grid button{
    width: 4rem;
    height: 2rem;
    padding-right: 10px;
}
.bottom-grid{
    padding-left: 2rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}


@media screen and (max-width: 760px) {
    .album{
        width: 80%;
    }
    .heading-container{
        margin: 40px 0;
    }
    .heading-container p{
        margin: 1rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .card-1{
        width: 80%;
    }
}